@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace;
}

@theme {
    --color-primary: #257180; /* dark teal */
    --color-cream: #f2e5bf; /* light beige */
    --color-amber: #fd8b51; /* orange highlight */
    --color-terra: #cb6040; /* strong brick red */
}
